{% extends 'base.html' %} {% block content %} {% for thought in thoughts %}
<div class="card">
  <div class="card-header">
    {{thought.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p>
        {{thought.content}}
      </p>
      <footer class="blockquote-footer">
        <cite title="Source Title">{{thought.name}}</cite>
      </footer>
    </blockquote>
  </div>
</div>
<a href="{{ url_for('edit_thought', thought_id=thought._id) }}" class="btn btn-info" role="button" aria-pressed="true">Edit</a>
<a href="#" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
{% endfor %} {% endblock %}
